{{ define "main" }}
<div class='wrap mt post'>
  <div>
    <h1 class='post_title'>{{ .Title }}</h1>
    <div class='post_body'>
      <div class='post_inner'>
        {{ with .Params.image }}
        <img src='{{ absURL (printf "images/%s" .) }}' alt='{{ . }}' class='post_thumbnail'>
        {{ end }}
        {{ .Content }}
      </div>
    </div>
  </div>
  {{ with .Params.imglist }}
  <div id='lightgallery' class='post_gallery'>
    {{ range . }}
    {{ partial "gallery.html" (dict "imgroot" .root "imgtitle" .title ) }}
    {{ end }}
  </div>
  <div>
    <p>... tap any thumbnail to see the full size images.</p>
  </div>
</div>
{{ end }}
{{ end }}