<div class='archive wrap mt'>
  <h1>{{ .Title }}</h1>
  {{ $paginator := .Paginate (where .Data.Pages "Section" "!=" "") }}
  {{- range $paginator.Pages }}
  <a class='archive_item' href='{{ .Permalink }}'>
    <div class="archive_thumbnail">
      {{- with .Params.thumb -}}
      <img src='{{ absURL (printf "images/%s" .) }}' alt='{{ . }}'>
      {{- end -}}
    </div>
    <div class="archive_summary">
      <h3 class='article_title'>{{ .Title }}</h3>
      <p>
        {{- with .Summary -}}
        {{ . | truncate 90 }}
        {{- end -}}
      </p>
    </div>
  </a>
  {{- end -}}
</div>