<link rel='icon' type='image/png' sizes='18x18' href='{{ absURL "icons/outline_camera_black_18dp.png" }}'>
<link rel='icon' type='image/png' sizes='24x24' href='{{ absURL "icons/outline_camera_black_24dp.png" }}'>
<link rel='icon' type='image/png' sizes='36x36' href='{{ absURL "icons/outline_camera_black_36dp.png" }}'>
<link rel='icon' type='image/png' sizes='48x48' href='{{ absURL "icons/outline_camera_black_48dp.png" }}'>
<link rel='apple-touch-icon' type='image/png' sizes='180x180'
    href='{{ absURL "icons/outline_camera_black_180dp.png" }}'>
<link rel='manifest' href='{{ absURL "icons/site.webmanifest" }}'>
<meta name='theme-color' content='#ffffff'>