{{ define "main" }}
<div class='wrap pt-2 mt-2'>
  {{- $size := 3 }}
  {{ $pages := .Paginate (where (where .Site.Pages "Section" "post") "Params.feature" true) $size }}
  {{ $scratch := newScratch }}
  {{- range $index, $value := $pages.Pages }}
  {{ if isset .Params "image" }}
  {{ $scratch.Set "image" .Params.image }}
  {{ else }}
  {{ $scratch.Set "image" "thumbnail.svg" }}
  {{ end }}
  {{ $image := $scratch.Get "image" }}
  {{ $bg := (absURL (printf "images/%s" $image)) }}
  <article class='article mb-2'>
    <a href='{{ $value.Permalink }}' {{ if eq $index 0 }} class='grid-reverse' {{ end }}>
      <div class='article_thumb' style='background-image: url({{ $bg }})'></div>
      <div class='article_meta {{ if eq $index 0 }} center_y {{ end }}'>
        <h3 class='article_title'>{{ $value.Title }}</h3>
        <div class='article_excerpt {{ if eq $index 0 }} visible {{ end }}'>
          <p>{{ $value.Summary | truncate 100 }}</p>
        </div>
      </div>
    </a>
  </article>
  {{- if and (eq $index 0) (gt $size 1)  }}<div class='grid-2 article_showcase'>{{ end }}
    {{- if and (eq $index (add $size -1)) (gt $size 1) }}</div>{{ end }}
  {{- end }}
  <blockquote>
    <p>
      Why is form beautiful? Because, I think, it helps us meet our worst fear, the suspicion
      that life may be chaos and that therefore our suffering is without meaning.
      <br />
      <br />
      ~ Robert Adams
      </br>
  </blockquote>
  <blockquote>
    <p>
      Nothing is less real than realism... Details are confusing. It is only by selection,
      by elimination, by emphasis, that we get at the real meaning of things.
      <br />
      <br />
      ~ Georgia O'Keeffe
    </p>
  </blockquote>
</div>
{{ end }}