{{ define "main" }}
<div class='wrap pt-6 mt-6'>
  {{- range $index, $value := (where (where .Site.Pages "Section" "post") "Params.feature" true) }}
    {{ if (eq $index 0) }}
      {{ $bg := (absURL (printf "images/%s" .Params.image)) }}
      <article class='article mb-4'>
        <a href='{{ $value.Permalink }}' class='grid-reverse'>
          <div class='article_thumb' style='background-image: url({{ $bg }}); background-position: {{ $value.Params.bgpos }}'></div>
          <div class='article_meta center_y'>
            <h3 class='article_title'>{{ $value.Title }}</h3>
            <div class='article_excerpt visible'>
              <p>{{ $value.Summary | truncate 100 }}</p>
            </div>
          </div>
        </a>
        <div style="text-align: center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ $value.Params.caption }}</div><br/>
      </article>
    {{- end }}
  {{- end }}
  <blockquote>
    <p>
      Why is form beautiful? Because, I think, it helps us meet our worst fear, the suspicion
      that life may be chaos and that therefore our suffering is without meaning.
      <br />
      <br />
      ~ Robert Adams
    </p>
  </blockquote>
  <blockquote>
    <p>
      Nothing is less real than realism... Details are confusing. It is only by selection,
      by elimination, by emphasis, that we get at the real meaning of things.
      <br />
      <br />
      ~ Georgia O'Keeffe
    </p>
  </blockquote>
  <br/>
  {{- range $index, $value := (where (where .Site.Pages "Section" "post") "Params.feature" true) }}
  {{ if (gt $index 0) }}
  {{ $bg := (absURL (printf "images/%s" .Params.image)) }}
  <article class='article mb-4'>
    <a href='{{ $value.Permalink }}' class='grid-reverse'>
      <div class='article_thumb' style='background-image: url({{ $bg }}); background-position: {{ $value.Params.bgpos }}'></div>
      <div class='article_meta center_y'>
        <h3 class='article_title'>{{ $value.Title }}</h3>
        <div class='article_excerpt visible'>
          <p>{{ $value.Summary | truncate 100 }}</p>
        </div>
      </div>
    </a>
    <div style="text-align: center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ $value.Params.caption }}</div><br/>
  </article>
  {{- end }}
  {{- end }}
</div>
<div class='wrap'>
  <br/>
  <h1 class='post_title'>Other Series</h1>
  <div class='grid-2 article_showcase'>
    {{- range $index, $value := (where (where .Site.Pages "Section" "post") "Params.feature" false) }}
    {{ $bg := (absURL (printf "images/%s" .Params.image)) }}
    <article class='article mb-1'>
      <a href='{{ $value.Permalink }}'>
        <div class='article_thumb' style='background-image: url({{ $bg }}); background-position: {{ $value.Params.bgpos }}'></div>
        <div class='article_meta'>
          <h3 class='article_title'>{{ $value.Title }}</h3>
        </div>
      </a>
    </article>
    {{ end }}
  </div>
</div>
{{ end }}