<p>&nbsp;</p>
<p>&nbsp;</p>

<h3 id="ai-correction">Use of AI image correction</h3>

<p>To my mind, a true "street photograph" is one that captures a moment in time as the photographer saw it, without the
addition or removal of any part. I will crop images to improve composition, but I will not change the content within
the crop. I will correct exposure and color balance, I will convert to black and white, but I will not remove a fire
hydrant or add a reflection, etc. However, there is one image on this web site and on this page where I allowed myself
to use an AI tool to correct the focus of a photograph, i.e., the one of the woman in white polo neck sweater standing
in a dark doorway:</p>

<img src="/images/turisti-e-gente-del-posto/0001-A7R05785-0450.jpg" alt="Via Galliera, Bologna, 2023 (Focus corrected by AI)">

<p>This photograph was perhaps my favorite image from 2023, but I am conflicted about my use of AI to correct my
bad focus. I failed to capture the moment as I saw it, and I fear that using AI to correct it is a step too far. I love
the image and want to show it, but I have to be honest and flag that AI was used.</p>

<p>See the blog post, <a href="https://medium.com/@mikebroadway/successful-street-photo-or-ai-cheat-c5253dc91d89">"Successful Street Photo or AI cheat?"</a>
on Medium for a longer discussion of this image, the use of AI to render it, and how I probably won't use it again.</p>
