<div class='post_gallery_note'>
    <p>Tap any thumbnail to see the full size images, then navigate with the right and left cursor keys, or with the mouse ...</p>
</div>
<div id='lightgallery' class='post_gallery'>
    {{ range .Page.Params.imglist }}
    <a href='{{ printf "/images/%s-0450.jpg" .root }}'
        data-srcset='{{ printf "/images/%s-0450.jpg 450w," .root }}{{ printf "/images/%s-0900.jpg 900w," .root }}{{ printf "/images/%s-1200.jpg 1200w," .root }}{{ printf "/images/%s-1920.jpg 1920w" .root }}'>
        <img alt='{{ .title }}' src='{{ printf "/images/%s-0240.jpg" .root }}'>
        <div style="font-size: 12px">{{ .title }}</div>
    </a>
    {{ if .break }}
    <div class='post_gallery_break'></div>
    {{ end }}
    {{ end }}
</div>